.about {
    padding-bottom: 140px;
    position: relative;
    background: rgba(238, 238, 238, 0.60);
    z-index: 1;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin-bottom: 60px;
    }
    &__content {
        max-width: 808px;
        width: 100%;
    }
    &__descr {
        color: #1D1E23;
        font-size: 24px;
        margin-bottom: 30px;
    }
    &__descr-bold {
        color: #AA0B0D;
        font-family: 'Gilroy Black', sans-serif;
        font-size: 24px;
        font-weight: 900;
    }
}