.button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway Black', sans-serif;
    font-weight: 900;
    border-radius: 35px;
    background: #AA0B0D;
}