.form-top {
    position: relative;
    padding-bottom: 140px;
    background: rgba(238, 238, 238, 0.60);
    z-index: 2;
    &__image-bg {
        position: absolute;
        left: 0;
        bottom: -800px;
        opacity: .3;
    }
    &__image {
        position: absolute;
        top: -238px;
        right: 0;
        z-index: 30;
    }
    &__block {
        position: relative;
        z-index: 15!important;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0px -4px 8px 0px rgba(66, 66, 66, 0.29);
        border-radius: 35px;
        padding: 57px 115px;
    }
    &__block-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block-title {
        color: #1D1E23;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: 'Raleway Black', sans-serif;
        width: 382px;
        font-weight: 900;
        font-size: 35px;
        margin-bottom: 15px;
    }
    &__block-button {
        width: 425px;
        height: 60px;
        border-radius: 35px;
        border: 3px solid #AA0B0D;
        background: #fff;
        cursor: pointer;
        color: #1D1E23;
        text-align: center;
        font-family: 'Gilroy Black', sans-serif;
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 5px;
        transition: all .3s;
        &:hover {
            border: 3px solid transparent;
            background-color: #AA0B0D;
            color: #fff;
        }
    }

    &__block-inputs {
        width: 890px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &__input-group {
        width: 425px;
    }

    &__input {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 35px;
        border: 1px solid rgba(29, 30, 35, 0.20);
        background: rgba(238, 238, 238, 0.50);
        font-size: 20px;
        padding: 0 25px;
        color: rgba(29, 30, 35, 0.50);

        &::placeholder {
            color: rgba(29, 30, 35, 0.50);
        }

        &:focus {
            outline: none;
        }
    }
    &__checkbox {
        display: none;

        &:checked+.form-top__agree__ok {
            background: url('../img/ok.png') no-repeat center;
        }
    }

    &__agree {
        display: block;
        width: 100%;
        max-width: 339px;
        padding-left: 35px;
        position: relative;
        cursor: pointer;
    }

    &__agree__ok {
        display: block;
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid #1D1E23;
        position: absolute;
        left: 0;
        top: 5px;
    }

    &__agree__text {
        font-size: 12px;
        line-height: 105%;
        color: #1D1E23;
    }
}