.modal {
    position: fixed;
    z-index: 199;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    background: rgba(45, 45, 45, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &--active {
        opacity: 1;
        visibility: visible;
    }

    &__container {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    &-main__dialog {
        position: relative;
        max-width: 940px;
        width: 100%;
        min-height: 642px;
        text-align: center;
        padding-top: 62px;
        border-radius: 35px;
        background: #fff;
    }

    &-main__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    &-main__title {
        font-family: 'Raleway Black', sans-serif;
        font-weight: 900;
        font-size: 45px;
        color: #1D1E23;
        text-align: center;
        margin-bottom: 40px;
    }

    &-main__input-group {
        width: 425px;
        margin: 0 auto 20px;

        &:last-child {
            margin: 0 auto 30px;
        }
    }

    &-main__input {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 35px;
        border: 1px solid rgba(29, 30, 35, 0.20);
        background: rgba(238, 238, 238, 0.50);
        font-size: 20px;
        padding: 0 25px;
        color: rgba(29, 30, 35, 0.50);

        &::placeholder {
            color: rgba(29, 30, 35, 0.50);
        }

        &:focus {
            outline: none;
        }
    }

    &-main__button {
        width: 425px;
        height: 60px;
        margin-bottom: 10px;
    }

    &-main__checkbox {
        display: none;

        &:checked+.modal-main__agree__ok {
            background: url('../img/ok.png') no-repeat center;
        }
    }

    &-main__agree {
        display: block;
        width: 100%;
        max-width: 456px;
        padding-left: 35px;
        text-align: left;
        position: relative;
        margin: 0 auto;
        cursor: pointer;
    }

    &-main__agree__ok {
        display: block;
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid #1D1E23;
        position: absolute;
        left: 0;
        top: 5px;
    }

    &-main__agree__text {
        font-size: 12px;
        line-height: 105%;
        color: #1D1E23;
    }

    &-thanks__dialog {
        position: relative;
        max-width: 940px;
        width: 100%;
        min-height: 626px;
        background-color: #fff;
        border-radius: 35px;
        padding-top: 220px;
        padding-left: 102px;
    }

    &-thanks__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        z-index: 3;
    }

    &-thanks__title {
        color: #1D1E23;
        font-family: 'Raleway Black', sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        width: 287px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &-thanks__text {
        width: 378px;
        color: #1D1E23;
        font-size: 25px;
        text-transform: uppercase;
    }

    &-thanks__image {
        position: absolute;
        top: 0;
        right: 0;
    }
}