.without-risks {
    padding-bottom: 140px;
    position: relative;
    background: rgba(238, 238, 238, 0.60);
    &__title {
        margin-bottom: 60px;
    }
    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 60px;
    }
    &__item {
        padding: 20px 23px 23px;
        width: 520px;
        min-height: 176px;
        border-radius: 35px;
        background: #FFF;
        box-shadow: 0px 2px 6px 0px rgba(66, 66, 66, 0.25);
    }
    &__button {
        display: block;
        margin: 0 auto;
        border: none;
        outline: none;
        width: 520px;
        height: 60px;
        border-radius: 35px;
        border: 3px solid #FFC700;
        color: #1D1E23;
        font-family: 'Gilroy Black', sans-serif;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            border: 3px solid transparent;
            background-color: #FFC700;
            color: #fff;
        }
    }
    &__item-title {
        color: #AA0B0D;
        font-family: 'Gilroy Black', sans-serif;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    &__item-descr {
        font-size: 20px;
        background: linear-gradient(180deg, #1D1E23 0%, rgba(29, 30, 35, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 5px;
    }
    &__item-link {
        color: #AA0B0D;
        font-size: 14px;
        text-decoration-line: underline;
    }
}